/* CSS for Sidebar menu section */

*{
  font-family: 'Roboto', sans-serif;
}
.outer-circlr {
  background-color: whitesmoke;
  max-width: 25%;
}
.content-container {
  text-align: center;
}
.heart-img {
  width: 4vw;
  margin-bottom: 3%;
}
.brand-name {
  font-weight: bold;
  font-size: 3vw;
  color: rgb(238, 1, 120);
}
.rule {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 10%;
}
.post-link {
  text-align: center;
  padding-top: 13%;
  padding-bottom: 15%; 
}
.link-btn {
  background-color: rgb(238, 1, 120);
  color: white;
  text-decoration: none;
  font-size: 2vw;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 50px;
  box-shadow: 4px 10px 15px rgb(194, 122, 158); 
}
.link-btn:hover {
  color: rgba(58, 9, 9, 0.986);
  background-color:white;
}
.menu-content ul li {
  list-style-type: none;
}
.menu-icon {
  padding:6%;
  color:rgb(59, 86, 134);
  font-size: 1.6vw;
}
.menu-icon:hover {
  color:rgb(238, 1, 120);
}
.menu-item {
  margin-left: 1vw;
}

/* CSS for Sidebar footer section */

.footer-section{
  margin-top: 23%;
}
.footer-section ul li {
  display: inline-block;
  list-style-type: none;
  color: rgb(59, 86, 134);
  padding:1%;
  font-size: 1vw;
}
.footer-section ul li:hover {
  color:rgb(238, 1, 120);
}

/* CSS for Right side content section */

.right-side-content {
  max-width: 75%!;
}
.top-content {
  display: flex;
}
.sidebar-menu {
  display: flex;
}
.discover-content{
  font-size: 2vw;
  color:rgba(58, 9, 9, 0.986);
  padding: 2%;
  display:flex;
}
.discover-heading {
  font-size: 2.5vw;
}
.mobile-menu {
  display: none;
}
.mmenu {
  display: none;
}
.search-icon {
  color: rgb(238, 1, 120);
  padding-top: 2%;
  margin-left: -5%;
  font-size: 1.6vw;
}
.search-icon:hover {
  color:rgba(58, 9, 9, 0.986);
}
.input-field {
  padding: 2%;
  min-width: 40%; 
  margin-left: 1%;
}
.form-input {
  border:none;
  border-radius: 90px!important;
  background-color: rgb(248, 238, 240);
}
.form-control:focus{
  box-shadow: none;
  border: 1px solid rgb(238, 1, 120);
}
.heart-img-icon{
  padding: 2%;
  width: 5vw;
  margin-left: 3%;
}
.img-icon:hover {
box-shadow: 4px 8px 15px rgb(204, 68, 136);
border-radius: 50px;
cursor: pointer;
}

/* CSS for Right side buttons section */

.btns-container {
  display: inline-flex;
  width: 100%;
}
.discover-link {
  text-align: center;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 8%;
}
.link-btns {
  background-color: rgb(238, 1, 120);
  color: white;
  text-decoration: none;
  font-size: 1.8vw;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 50px;
  box-shadow: 4px 10px 15px rgb(194, 122, 158); 
}
.link-btns:hover {
  color: rgba(58, 9, 9, 0.986);
  background-color:white;
}
.non-active-btn {
  background-color:whitesmoke; color:black
}
#icon-active-btn {
  color:rgb(238, 1, 120);
}

/* CSS for Images card section */

.card {
  border: none;
  border-radius: 21px;
  margin: 20px;
  width: 22rem;
}
.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px #C27A9E;
  -moz-box-shadow: 0 8px 6px -6px #C27A9E;
  box-shadow: 0 8px 6px -6px #C27A9E;
}
.one-edge-shadow:hover {
  -webkit-box-shadow: 0 10px 6px -6px rgb(238, 1, 120);
  -moz-box-shadow: 0 10px 6px -6px rgb(238, 1, 120);
   box-shadow: 0 10px 6px -6px rgb(238, 1, 120);
}
.card-body {
  padding:0px !important;
  padding-bottom: 18px !important;
}
.card-title {
  margin : 0px !important;
  padding-top: 15px !important;
}
.card-text {
  color:rgb(238, 1, 120);
  font-weight: bold;
}
.side-img-icon {
  max-width: 20px;
  margin-left: 30%;
}
.img-bottom-text {
  font-weight: normal;
  font-size: 10px;
  margin-left: 40%;
  background-color:rgb(238, 1, 120);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  opacity: 0.6;
}

/* CSS for Mobile menu section */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#close-btnn {
  color: rgb(238, 1, 120);
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: rgba(58, 9, 9, 0.986);
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* CSS for What is actoro content */

.what-actoro{
  color:rgb(238, 1, 120);
  margin-top: 4%;
}
.what-heading{
color: #411351;
}
.what-card{
  border: 1px solid lightgray;
  border-radius: 10px;
}
.what-card:hover{
transform: scale(1.01);
box-shadow: 0 10px 20px rgba(238, 1, 120,0.12), 0 4px 8px rgba(238, 1, 120,0.06);
}

/* CSS for responsiveness */

@media only screen and (min-width: 275px) and (max-width: 800px) {
  .footer-section ul li {
    display: block;
    font-size: 1.5vw;
    margin-top: 50%;
  }
  .footer-section a {
    text-decoration: none;
  }
}
@media only screen and (min-width: 100px) and (max-width: 900px) {
 .discover-content {
     display: none;
  }
}
@media only screen and (min-width: 275px) and (max-width: 991px) {
  .card {
    width: 14rem;
  }
}
@media only screen and (min-width: 275px) and (max-width: 991px) {
  .discover-link {
    margin-top: 0.8%;
    margin-bottom: 0.8%;
  }
}
@media only screen and (min-width: 275px) and (max-width: 991px) {
  .side-img-icon {
    margin: 0 auto!important;
  }
  .img-bottom-text {
    margin: 0 auto !important;
  }
}
@media only screen and (min-width: 100px) and (max-width: 500px) {
  .outer-circlr{
   display: none;
  }
  .heart-img-icon{
    width: 7vw;
  }
  .mobile-menu {
    display: block;
  }
  .mmenu {
    display: block;
  }
  .close-btn {
    color:rgb(238, 1, 120);
  }
  .close-btn:hover {
    color:rgba(58, 9, 9, 0.986);
  }
  .mobile-menu a {
    text-decoration: none;
  }
}
@media only screen and (min-width: 275px) and (max-width: 800px) {
 .search-icon{
  font-size: 2.3vw;
  margin-top: -1%;
 } 
 .link-btns {
  font-size: 2vw;
  width: 100%;
}
}
@media only screen and (min-width: 275px) and (max-width: 1030px) {
  .link-btns {
  font-size: 2.5vw;
  font-size: 2vh;
  display: block;
  border-radius: 20px;
  } 
  .discover-link {
    padding-left:2%;
  }
}
@media only screen and (min-width: 275px) and (max-width: 900px) {
  .link-btns {
    font-size: 3.8vw;
    font-size: 1.7vh;
    display: block;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 20px;
  }
}
@media only screen and (min-width: 275px) and (max-width: 285px) {
  .search-icon{
   margin-top: 1%;
  } 
 }
@media only screen and (min-width:600px) and (max-width: 900px) {
.search-icon {
  margin-top: -2%;
}
}
@media screen and (max-width: 900px) {
  .search-icon {
    padding-top: 5%;
  }
  .discover-content {
    padding-top: 6%;
  }
  .btns-container {
    display:inline-flex;
    width: 100% !important;
  }
}
